<div class="form-wrapper">
  <div class="user-header">  
    <div class="welcome">
      <h2>ようこそ</h2>
      <h2>shioriへ</h2>
    </div>
    <div class="user-link-to">
      <%= link_to 'トップページ', root_path, class:"user-to-root"%>
      <%= link_to 'ログインする', new_user_session_path, class:"user-to-sign-in"%>
    </div>
  </div>


<%= render 'devise/shared/new' %>