.book-show-contents{
  padding: 20px 5px;
  margin-top: 20px;
}


.comment-box{
  border-bottom: 1px solid rgb(211, 182, 159);
  width: 760px;
  margin-top: 45px;
  margin-left: 22px;
  box-shadow: 2px 2px 2px 1px #00000073;
  padding: 5px 10px;
}

.comment-form{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
}



.comment-submit-btn{
  width: 60px;
  height: 25px;
  background-color:white;
  border-radius: 20%;
  box-shadow:0px 3px rgba(85, 79, 79, 0.5);
  position: absolute;
  top: 10px;
  left: 724px;
  border: 0.5px solid rgba(202, 198, 198, 0.5);
  margin-bottom: 10px;
}

.comment-submit-btn:hover{
  background-color: rgb(67, 213, 250);
  transition: 0.7s;
}

.comment-submit-btn:active{
  box-shadow: none;
  padding-top: 5px;
}


/* コメント一覧 */

.comment-wrapper{
  width:785px;
  border-right: 15px solid rgb(42, 140, 165);
}

.who-is-post-reverse{  
  display: flex;
  flex-direction: row-reverse;
  height: 80px;
  width: 760px;
  align-items: center;
}

.shiori-box-reverse{
  width:65vw;
}

.shiori-reverse{
  margin-bottom: 10px;
  padding: 10px 80px 10px 10px;
  width:760px;
  height:85px;
  background-image: linear-gradient(90deg,rgb(248, 247, 245), rgba(242 199 243 / 80%));
  clip-path: polygon(0 50%, 150px 0, 100% 0, 100% 100%, 150px 100%);
  -webkit-clip-path: polygon(0 50%, 150px 0, 100% 0, 100% 100%, 150px 100%);
}

.text-for-reverse{
  margin-left: 170px;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
}