/* 新規投稿ページ */

.book-wrapper{
  height: 1260px;
  width: 550px;
  box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(248, 247, 245, 0.3);
  margin: 100px 0;
  padding-top: 80px;
  position: absolute;
  left: 450px;
  top: 60px;
}

.hidden{
  display: none;
}

.fa-camera-retro{
  font-size: 36px;
  cursor: pointer;
}

.fa-camera-retro:hover{
  transform:scale(1.1);
  transition-duration: 0.5s;
}

.u-can-photo{
  border-bottom: 1px solid rgb(211, 182, 159);
  padding-right: 10px;
}

.genre-field{
  text-align: center;
  margin-top: 75px;
  margin-bottom: 30px;
}

.genre-box{
  border-bottom: 1px solid rgb(211, 182, 159);
  background-color: rgb(245, 244, 244);
  padding: 2px 10px;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
}


/* エラーメッセージ */

.error-alert{
  margin-top:132px;
}

.error-message{
  font-size: 14px;
  list-style: none;
  color: rgb(235, 124, 91);
  margin-bottom: 10px;
  padding-left: 100px;
}