/* フラッシュメッセージ */

.alert{
  color: rgb(235, 124, 91);
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
}

.notice{
  color: rgb(67, 213, 250);
  margin-top: 29px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 3px;
}