.form-wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  margin-left:250px;
}

/* ウェルカムボード */
.welcome {
  letter-spacing: 20px;
  color: white;
  font-size: 22px;
  padding-top: 100px;
  padding-left: 50px;
  line-height: 1.7;
  background-color: rgb(245, 215, 66);
  height: 320px;
  width: 320px;
  border-radius: 50%;
  margin-left: 40px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.user-link-to{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px 100px 0 135px;
}

.user-to-root, .user-to-sign-in{
  font-size: 20px;
  text-decoration-line: none;
  color: rgba(0, 0, 255, 0.5);
  border-bottom: 1px solid rgb(211, 182, 159);
  margin-bottom: 20px;
}

.user-to-root:hover, .user-to-sign-in:hover{
  color: blue;
  font-weight: bold;
}



/* 登録フォーム */
.user-wrapper{
  height: 650px;
  width: 550px;
  box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(248, 247, 245, 0.3);
  margin-bottom: 100px;
  padding-top: 80px;
  position: absolute;
  left: 530px;
  top: 60px;
}

.field{
  padding-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
}

.input-object{
  margin-bottom: 15px;
}

.input-box{
  width: 260px;
  padding: 2px 10px;
  border-bottom: 1px solid rgb(211, 182, 159);
  outline: none;
}

.actions{
  text-align: right;
  padding-right: 25px;
  border-bottom: 1px dotted rgb(211, 182, 159);
}

.next-box:hover,.submit-box:hover,.log-in-btn:hover{
  color: rgb(4, 161, 252);
  font-weight: bold;
}

.next-btn{
  padding-top: 50px;
}

.next-box, .submit-box,.log-in-btn{
  font-size: 18px;
  padding-bottom: 5px;
}


/* ラジオボタン */
.age-radio{
  width: 80%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(211, 182, 159);
}

.sex-radio{
  width: 50%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(211, 182, 159);
}

.age-button, .sex-button{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sex-button p, .age-button p{
  margin-top: 10px;
  font-size: 12px;
  padding-bottom: 5px;
}

.age, .sex{
  margin-top: 5px;
}

.self-port{
  font-size: 16px;
}

/* エラーメッセージ */
#error_explanation h2{
  font-size: 22px;
  text-align: right;
  margin: 20px 0px 10px 250px;
  color: rgb(235, 124, 91);
}

#error_explanation li{
  font-size: 14px;
  text-align: right;
  list-style: none;
  color: rgb(235, 124, 91);
  margin-bottom: 2px;
}

#error_explanation{
  width: 465px;
  padding-right: 25px;
}

#flash_alert{
  color: rgb(235, 124, 91);
  margin-top: 120px;
  padding-left: 45px;
}

.log-in-field{
  padding: 43px 0;
}

.log-in-btn{
  margin-top: 140px;
}